
/Source/AssemblyChecker/bin/Debug/AssemblyChecker.exe
/Source/AssemblyChecker/bin/Debug/AssemblyChecker.exe.config
/Source/AssemblyChecker/bin/Debug/AssemblyChecker.pdb
/Source/AssemblyChecker/bin/Debug/AssemblyChecker.vshost.exe
/Source/AssemblyChecker/bin/Debug/AssemblyChecker.vshost.exe.config
/Source/AssemblyChecker/bin/Debug/AssemblyChecker.vshost.exe.manifest
/Source/AssemblyChecker/bin/Debug/Kraken.Framework.Core.dll
/Source/AssemblyChecker/bin/Debug/NLog.dll
/Source/AssemblyChecker/bin/Debug/NLog.xml
/Source/AssemblyChecker/obj/x86/Debug/AssemblyChecker.csproj.FileListAbsolute.txt
/Source/AssemblyChecker/obj/x86/Debug/AssemblyChecker.csprojResolveAssemblyReference.cache
/Source/AssemblyChecker/obj/x86/Debug/AssemblyChecker.exe
/Source/AssemblyChecker/obj/x86/Debug/AssemblyChecker.pdb
/Source/AssemblyChecker/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/_ReSharper.AssemblyChecker/BuildScriptCache/.crc
/Source/_ReSharper.AssemblyChecker/BuildScriptCache/.version
/Source/_ReSharper.AssemblyChecker/BuildScriptCache/4/7fdc7b1.dat
/Source/_ReSharper.AssemblyChecker/NamedArguments/.crc
/Source/_ReSharper.AssemblyChecker/NamedArguments/.version
/Source/_ReSharper.AssemblyChecker/NamedArguments/4/7fdc7b1.dat
/Source/_ReSharper.AssemblyChecker/ProjectModel/ProjectModel.dat
/Source/_ReSharper.AssemblyChecker/Resources/.crc
/Source/_ReSharper.AssemblyChecker/Resources/.version
/Source/_ReSharper.AssemblyChecker/SymbolCache.bin
/Source/_ReSharper.AssemblyChecker/TagPrefixes/.crc
/Source/_ReSharper.AssemblyChecker/TagPrefixes/.version
/Source/_ReSharper.AssemblyChecker/TodoCache/.crc
/Source/_ReSharper.AssemblyChecker/TodoCache/.version
/Source/_ReSharper.AssemblyChecker/TodoCache/4/7fdc7b1.dat
/Source/_ReSharper.AssemblyChecker/WebsiteFileReferences/.crc
/Source/_ReSharper.AssemblyChecker/WebsiteFileReferences/.version
/Source/_ReSharper.AssemblyChecker/WordIndex/.crc
/Source/_ReSharper.AssemblyChecker/WordIndex/.version
/Source/_ReSharper.AssemblyChecker/WordIndex/1/314b1f55.dat